body {
  background: lightgray;
}

.my_title {
  padding: 20px; 
}

h1, h2 {
  padding: 10px; 
  text-align: center;
}

h1 {
  text-align: center;
}

.password_form {
  background: white;
  border: 2px solid darkgray;
  width: 75%;
}

.password_display {
  border: 2px dotted lightpink;
  display: block;
  margin: 10px;
  height: 100px;

}

.my_buttons {
padding: 20px;
margin: 0 auto;
}

.btn {
  padding: 5 auto;

}

#btn_password {
  
}

#btn_copy {

}