body {
  background: lightgray;
}

.my_title {
  padding: 20px; 
}

h1, h2 {
  padding: 10px; 
}

h1 {
  text-align: center;
}

.password_form {
  background: white;
  border: 2px solid darkgray;
  /* width: 75%; */
}

.my_buttons {
padding: 20px;
margin: 0 auto;
}

.btn {
  padding: 5px;
  margin: 3px;
}

#btn_password {
  
}

#btn_copy {

}