body {
  background: lightgray;
}

.my_title {
  padding: 20px; 
}

h1, h2 {
  padding: 10px; 
}

.password_form {
  background: white;
  border: 2px solid darkgray;
}

.password_border {
  border: 2px dotted red;
  height: 200px; 
  margin: 0 20px;
}

p {
  padding: auto;
}

.my_buttons {
padding: 20px;
margin: 0  20px;
}

.btn {
  padding: 20px;
  margin: 3px;
}
